In [1]:
""" The task is to pretty print a list of python dictionaries in a tabulary format.
Example Input:
[
   {
       'Foo': 'Hello',
       'Bar': 'World!',
       'value': 12,
   },
   {
       'Foo': 42,
       'Bar': 42,
       'count': 10,
   }
]
Expected output:
Bar    Foo   value count
World! Hello 12
42     42          10
"""
people = [
   {'name': "Peter Williams", 'age': 37, 'position in the company currently': 'Software developer for Datascience'},
   {'name': "Daniel Smith", 'age': 51, 'position in the company currently': 'Project Manager'},
   {'name': "Catherine Newman", 'age': 22, 'position in the company currently': 'Data Analyst'},
   {'name': "Jessica Terrs", 'age': 42, 'position in the company currently': 'Product Owner'},
   {'name': "Simon Nicks", 'age': 19, 'position in the company currently': 'Intern', 'onboarding buddy': 'Catherine Newman'},
]

Case 1: order is not important

In [43]:
unique_keys = set().union(*(d.keys() for d in people))
type(unique_keys)
unique_keys

{'age', 'name', 'onboarding buddy', 'position in the company currently'}

In [47]:
space = "          "
for i in unique_keys:
#     print i.title(),  # single line printing
    print i.title() + space, # 8 spaces apart
    # print(i, end=" ") # Python 3
print "\n"
for d in people:
    for i in unique_keys:
        #e = empty_tab + '' * len(i)
        e = ' ' * (len(i) - 1)
        print d.get(i, e), space,
    print "\n"

Age           Onboarding Buddy           Name           Position In The Company Currently

37                                       Peter Williams            Software developer for Datascience

51                                       Daniel Smith            Project Manager

22                                       Catherine Newman            Data Analyst

42                                       Jessica Terrs            Product Owner

19            Catherine Newman            Simon Nicks            Intern

Case 2: Order is important

Ordinary dict to OrderedDict:

In [10]:
import collections

ordered_people = []
for d in people:
    ordered_people.append(collections.OrderedDict(d))
ordered_people

[OrderedDict([('age', 37),
              ('name', 'Peter Williams'),
              ('position in the company currently',
               'Software developer for Datascience')]),
 OrderedDict([('age', 51),
              ('name', 'Daniel Smith'),
              ('position in the company currently', 'Project Manager')]),
 OrderedDict([('age', 22),
              ('name', 'Catherine Newman'),
              ('position in the company currently', 'Data Analyst')]),
 OrderedDict([('age', 42),
              ('name', 'Jessica Terrs'),
              ('position in the company currently', 'Product Owner')]),
 OrderedDict([('age', 19),
              ('onboarding buddy', 'Catherine Newman'),
              ('name', 'Simon Nicks'),
              ('position in the company currently', 'Intern')])]